html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  background: linear-gradient(90deg, rgba(189,189,189,1) 16%, rgba(251,251,251,1) 50%, rgba(189,189,189,1) 84%);
  
}

.main{
  min-width: 320px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Calibri', sans-serif;
}

p{
  font-size: 18px;
  color: #313645;
}

/* Nawigacja*/

.navigation{
  border-radius: 50px;
  z-index: 2020;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(230, 230, 230, 0.4);
  backdrop-filter: blur(10px);
}
.list{
  margin: 0;
  display: flex;
}

.navigation__link {
  text-align: center;
  width: 180px;
  font-family: 'Calibri',  sans-serif;
  padding: 14px 0;
  font-size: 25px;
  color: black;
  text-decoration: none;
  border-radius: 25px;
}
.navigation__link:hover{
  background-color: rgb(214, 214, 214);
 
}


/*nagłówek*/

.header{
  padding-top: 100px;
}

.header__title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #0D0E25;
  text-align: center;
  margin: 0;
}

/*o autorze*/
.author{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 80px;
  margin-top: 40px;
}

.about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me__title {
  margin: 0;
  text-align: center;
  color: #E3170A;
  font-size: 25px;
}

.about-me__content {
  font-size: 19px;
}

.person{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person__image{
  width: 300px;
  border-radius: 30% 60% 70% 30%/30% 30% 70% 70%;
}


.person__name{
  margin: 0;
  padding-top: 30px;
}

.person__description{
  margin:10px;
}

/*notatki*/

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.notes__header {
  grid-column: 1 / -1;
  margin-bottom: 40px;
  text-align: center;
  font-size: 25px;
  color: #e3170a;
}

.article__title{
  font-size: 22px;
  display: flex;
  justify-content: center;
}

/*Kontakt*/

.contact{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact__header{
  font-size: 25px;
  color: #e3170a;
}

form{
  display: grid;
   grid-template-columns: repeat(2, 300px);
   grid-column-gap: 40px;
 }
 
 .form__input{
   margin-top: 9px;
   min-width: 300px;
   height: 34px;
   display: block;
 }
 
 .form__message{
   grid-column: 1/-1;
 }

 .form__textarea{
  margin-top: 9px;
   width: 100%;
   height: 200px;
 }
 
 .form__button{
   grid-column: 1/-1;
   display:flex;
   justify-content: center;
 }
 
 .form__send{
   padding: 5px;
   width: 410px;
 
 }

/*Dodatki*/

.additives{
  text-align: center;
  font-size: 25px;
  color: #E3170A;
  margin-top: 50px;
}

/*Podstrony*/

.subpage{
  position: relative;
}

.subpage-article{
  margin-top: 60px;
}

.subpage-article__header{
  font-size: 25px;
  color: #E3170A;
}

.subpage__header{
  top:60px;
  position: sticky;
  text-align: center;
  font-size: 30px;;
  margin: 60px 0 0 0;
}


/*stopka*/
.footer{
  font-family: 'Verdana', sans-serif;
  background-color: #2B2D42;
  text-align: center;
}
.footer__content{
  padding: 40px 0;
  color: #ffffff;
}

@media screen and (max-width: 425px){
  .hamburger{
    z-index: 1020;
    background-color: rgba(230, 230, 230, 0.8);
    backdrop-filter: blur(10px);
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .navigation{
    top:60px;
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 0 0 50px 50px;
  }
 
  .navigation--js{
    display: none;
  }

  .navigation--open{
    display: block;
  }


 .list{
  text-align: center;
  display: block;
  padding: 10px;
  list-style: none;
 }

 .menu-button{
  background: none;
  border: none;
  font-family: 'Calibri', sans-serif;
  font-size: 25px;
 }
 
  .main{
    padding: 0 20px;
  }

  .author{
    grid-template-columns: 1fr;
  
  }
  
  .person__image{
    width: 260px;
    border-radius: 30% 60% 70% 30%/30% 30% 70% 70%;
  }

  .notes__header {
    margin-bottom: 20px;
  }

  .form{
   display: block;
  }

  .form__send{
width: 100%;
  }

  .footer__content{
    padding: 40px 20px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px){
.main{
  padding: 0 20px;
}

.notes{
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.hamburger{
  z-index: 1020;
  background-color: rgba(230, 230, 230, 0.8);
  backdrop-filter: blur(10px);
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation{
  top:60px;
  background-color: rgba(230, 230, 230, 0.8);
  border-radius: 0 0 50px 50px;
}

.navigation--js{
  display: none;
}

.navigation--open{
  display: block;
}


.list{
text-align: center;
display: block;
padding: 10px;
list-style: none;
}

.menu-button{
position: absolute;
right: 30px;
top: 16px;
background: none;
border: none;
font-family: 'Calibri', sans-serif;
font-size: 25px;
}
}
