body {
  margin: 0;
  background-color: #bdbdbd;
}

.main{
  width: 1000px;
  margin: 0 auto;
  font-family: 'Calibri', sans-serif;
}

p{
  font-size: 18px;
  color: #313645;
}

/* Nawigacja*/

.navigation{
  background-color: #E6E6E6;
  width: 100%;
  text-align: center;
  height: 60px;
}

.navigation__link {
  display: inline-block;
  width: 180px;
  font-family: 'Calibri',  sans-serif;
  padding: 14px 0;
  font-size: 25px;
  color: black;
  text-decoration: none;
  border-radius: 25px;
}
.navigation__link:hover{
  background-color: rgb(214, 214, 214);
 
}


/*nagłówek*/

.header__title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #0D0E25;
  text-align: center;
  margin-top: 40px;
}

/*o autorze*/
.author{
  margin-top: 60px;
  position: relative;
  height: 300px;
}

.author__about-me{

  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.author__about-me--title {
  text-align: center;
  color: #E3170A;
  font-size: 25px;
}

.author__about-me--content {
  font-size: 19px;
}

.author__image{
  text-align: center;
  width: 50%;

}

.author__image--foto{
  width: 300px;
  border-radius: 30% 60% 70% 30%/30% 30% 70% 70%;
}

/*notatki*/

.notes__header {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 25px;
  color: #E3170A;
}

.notes__article--link {
  text-decoration: none;
  color: rgb(187, 59, 0);
}

/*Podstrony*/

.subpage__article{
  margin-top: 60px;
}

.subpage__article--header{
  font-size: 25px;
  color: #E3170A;
}

.subpage__image{
  position: relative;
}

.subpage__image--foto{
  position: absolute;
  width: 300px;
  border-radius: 20px;
  right: 0;
  top:50px;

}




/*stopka*/
.footer{
  font-family: 'Verdana', sans-serif;
  background-color: #2B2D42;
  height: 100px;
  text-align: center;
}
.footer__content{
  padding: 40px 0;
  color: #ffffff;
}
